<footer>
                <div class="pull-right">
                    Easy Cash Müştəri Paneli @DateTime.Now.Year || Bütün hüquqlar qorunur..
                </div>
                <div class="clearfix"></div>
            </footer>